@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto.ttf') format('truetype');
}

@font-face {
  font-family: 'Playwrite NZ';
  src: url('../../assets/fonts/PlaywriteNZ.ttf') format('truetype');
}

@font-face {
  font-family: 'Delius Swash Caps';
  src: url('../../assets/fonts/DeliusSwashCaps.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Single';
  src: url('../../assets/fonts/BitcountSingle.ttf') format('truetype');
}

.arialFont {
  font-family: Arial, Helvetica, sans-serif;
}

.sansSerifFont {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.robotoFont {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.DeliusSwashCapsFont {
  font-family: 'Delius Swash Caps', cursive;
  font-optical-sizing: auto;
  font-style: normal;
  word-spacing: 3px;
}

.playwriteFont {
  font-family: 'Playwrite NZ', cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.bitcountSingleFont {
  font-family: 'Bitcount Single', system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'CRSV' 0.5,
    'ELSH' 0,
    'ELXP' 0;
}
