.component-section {
  width: 100%;
  height: fit-content;
  padding: 10px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
  overflow-y: auto;
}

.render-box {
  height: fit-content;
  width: 100%;
  padding: 10px 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.render-box h3 {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 4px 12px;
  text-align: center;
}

.input-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.checkbox-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 5px 0;
}

input,
textarea,
select {
  font-size: 0.9rem;
  border: 1px solid #333;
  border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #800080;
}

input,
select {
  height: 50px;
  width: 90%;
  padding: 8px;
}

label {
  text-align: center;
}

.checkbox {
  height: 20px;
  width: 20px;
}

textarea {
  height: 180px;
  width: 80%;
  padding: 10px;
}

.remove-btn-box {
  width: 90%;
  text-align: center;
}

.btn-wrapper {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.remove-field-btn,
.remove-all-fields-btn,
.add-field-btn {
  padding: 1.2% 8%;
  border-radius: 4px;
  border: 1.2px solid #fff;
  color: #fff;
  font-size: 1.08rem;
  cursor: pointer;
  transition: all 0.33s ease-in-out 0.1s;
}

.remove-field-btn {
  background-color: #7d1c4a;
}
.remove-field-btn:hover {
  background-color: transparent;
  border: 1.2px solid #7d1c4a;
  color: #7d1c4a;
}

.remove-all-fields-btn {
  background-color: #56021f;
  margin: 10px;
}

.remove-all-fields-btn:hover {
  background-color: transparent;
  border: 1.2px solid #56021f;
  color: #56021f;
}

.add-field-btn {
  background-color: #123524;
  margin: 10px;
}

.add-field-btn:hover {
  background-color: transparent;
  border: 1.2px solid #123524;
  color: #123524;
}
