.fallback {
  background-color: #0a0018;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fallback h1 {
  color: #61dafb;
  font-size: 2.6rem;
  margin-top: 10px;
  font-family: 'Rubik Distressed', cursive;
}

.fallback h1::after {
  content: '';
  display: inline-block;
  width: 1.5em;
  text-align: left;
  animation: dots 1.2s steps(4, end) infinite;
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75%,
  100% {
    content: '...';
  }
}
