@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Playwrite NZ';
  src: url('./assets/fonts/PlaywriteNZ.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Delius Swash Caps';
  src: url('./assets/fonts/DeliusSwashCaps.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Google Sans Code';
  src: url('./assets/fonts/GoogleSansCode.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Distressed';
  src: url('./assets/fonts/RubikDistressed.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
