.container {
  width: 100%;
  height: 400px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.messageBox {
  text-align: center;
  max-width: 600px;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10%;
  color: #ffffff;
}

.description {
  font-size: 1.2rem;
  color: #d6e7ff;
  margin-bottom: 0.5rem;
}

.instruction {
  font-size: 1.1rem;
  color: #ffffff;
}

.highlight {
  font-weight: 600;
  color: #ff4b4b;
}
